__pycache__/
*.py[cod]

*.so

.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.intalled.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

target/

*.log
*.pot
*.pyc
__pycache__/
local_settings.oy

.env
db.sqlite3

.idea/
